@media (max-width: 600px) {
	form {
		width: 300px;
	}

	ul {
		width: 300px;
	}

	/* footer */
	footer {
		display: block;
		padding-bottom: 40px;
	}

	.footer-button {
		text-align: center;
		margin: auto;
	}

	.footer-copyright {
		text-align: center;
		margin: auto;
	}
}
